<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="https://kit.fontawesome.com/3d9e8d3ff6.js" crossorigin="anonymous"></script>
<link href="https://bootswatch.com/4/cosmo/bootstrap.min.css" rel="stylesheet">
<title>Classroom</title>