<%- include ('partials/student_navbar') %>
<script>

</script>
<style>
  .exam_name{
    padding: 20px;
  }
</style>
<div class ="conatiner">
  <div class="exam_left">
    <div class = "exam_name">
      <b>EXAM: English</b>
    </div>
    <div class="exam_time">
      <i>12:30 pm - 3:30 pm </i>
    </div>
  </div>
  <div class= "exam_right">
    <a href ="/exam/room" id = "presentBtn"class = "btn btn-primary">Enter</a>
  </div>
</div>
<%- include ('partials/messages') %>