<% if(role=='teacher') { %>
<%- include ('partials/teacher_navbar') %> 
<% } %>
<% if(role=='student') { %>
<%- include ('partials/student_navbar') %>
<% } %>

<% if (typeof result !='undefined' && typeof result[0]!='undefined') { %>
    <table>
        <tr><th >Recording Name</th></tr>
        <% result.forEach(myfunction); %>
        <%function myfunction(item,index) { %>
        <tr><td ><a href='/class/view/<%=item%>'><%=item%> </a></td></tr>
        <% } %>
    </table>
  <% } %>

  <% if (typeof result=='undefined' || typeof result[0]=='undefined') { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        No reports yet!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% } %>   